body {
    font-family: sans-serif;
    background-color: #333;
    margin: 0;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    min-height: 932px;
    background: linear-gradient(60deg, #2F5445 30%, #5C8359 100%);
    margin: auto;
    gap: 32px;
    padding: 16px;
    box-sizing: border-box;
}

h1 {
    margin-top: 1.25em;
    font-family:'work sans', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.5em;
}

.calculator_container {
    background-color: white;
    width: 20em;
    border-radius: 2em;
    padding-top: 4em;
    box-shadow: 5px 5px 5px 2px rgba(63, 63, 63, 0.3);
    border: 1px solid #b4b4b4;
}

.calculator_inner_container {
    max-width: 18em;
    padding: 0 1em 0 1em;
    font-family: 'work sans', sans-serif;
}

#display {
    background-color: rgba(225, 225, 225, 0.9);
    border-radius: 2em;
    box-shadow: 1px 1px 3px 2px rgba(29, 28, 28, 0.2);
}

/* only shows when history button is clicked */
#history-display {
    background-color: rgba(89, 131, 107, 0.5);
    margin-bottom: 0.4em;
    padding: 0 0.5em;
    border-radius: 2em;
    color: gray;
}


.calculator__keys button {
    margin: 1px;
    width: 4em;
    height: 4em;
    border-radius: 20em;
}

.key--operator {
    background-color: #2F5445;
    color: white;
}

.key--operator:hover{
    background-color: #5b756b;
    color: white;
}


.key--number {
    background-color: #5C8359;
    color: white;
}

.key--number:hover {
    background-color: #8ea88d;
    color: white;
}

.key--history, 
.key--equal {
    background-color: #7DAA80;
    color: white;
}

.key--history:hover, 
.key--equal:hover {
    background-color: #94ab95;
    color: white;
}

.key--history img {
    width: 1.5em;
    object-fit: contain;
}

.key--delete {
    background-color: #d75151;
    color: white;
}

.key--delete:hover {
    background-color: #e49898;
    color: white;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

/* converter */

.inputCurrency {
    display: flex;
    flex-flow: column;
    gap: 8px;
    width: 100%;
}

.inputCurrency select {
    width: fit-content;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    color: #CED0CE;
}

.inputCurrency input {
    border: none;
    background-color: rgba(35, 49, 37, 0.6);
    border-radius: 12px;
    padding-left: 16px;
    height: 60px;
    color: white;
    font-size: 18px;
    font-family: 'work sans', sans-serif;
    font-weight: 600;
}

.inputCurrency input::placeholder {
    color: #B2B6B3; 
    font-size: 14px;
    font-family: 'work sans', sans-serif;
    font-weight: 400;
}

.inputCurrency select:focus {
    outline: none;
}


.dashboard, .dashboard table {
    width: 100%;
}

.dashboard {
    margin-top: 2em;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 24px;
}

.dashboard, .dashboard table {
    width: 100%;
}

.dashboard tr {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid 1px #DBE2EE;
    padding: 1em;
}

form button {
    border: none;
    border-radius: 2em;
    font-family: 'work sans', sans-serif;
    background-color: #EFEFEF;
}

form button:hover {
    background-color: #b1b1b1;
    color: white;
}

